// TODO: translate it
= tag :area, title: 'Стара пошта', shape: :poly, alt: :Probe, coords: '759, 395, 777, 396, 776, 414, 758, 413'
= tag :area, title: 'Дім Протопопова (Партшкола)', shape: :poly, alt: :Probe, coords: '612, 372, 611, 400, 637, 401, 639, 374'
= tag :area, title: 'Дім Нані (Тубдиспансер)', shape: :poly, alt: :Probe, coords: '618, 309, 627, 311, 227, 316, 634, 318, 635, 297, 629, 296, 629, 301, 618, 302'
= tag :area, title: 'Покровська (Жовтнева) вулиця', shape: :poly, alt: :Probe, coords: '464, 25, 414, 739, 401, 738, 452, 21'
= tag :area, title: 'Земська лікарня', shape: :poly, alt: :Probe, coords: '958, 560, 1006, 560, 1006, 586,958, 586'
= tag :area, title: 'Унтер-офіцерська школа (МТС)', shape: :poly, alt: :Probe, coords: '637, 49, 637, 66, 666, 69, 668, 51'
= tag :area, title: 'Дім Любарських', shape: :poly, alt: :Probe, coords: '408, 287, 424, 288, 423, 303, 408, 303'
= tag :area, title: 'Дім Блезе (Гуртожиток сільгоспшколи)', shape: :poly, alt: :Probe, coords: '404, 379, 417, 380, 416, 404, 401, 403'
= tag :area, title: 'Банк (Штаб винищувального батальйону)', shape: :poly, alt: :Probe, coords: '380, 710, 396, 711, 395, 729, 384, 726'
= tag :area, title: 'Земська управа (Медшкола, телефонна станція)', shape: :poly, alt: :Probe, coords: '881, 415, 885, 415, 885, 425, 902, 425, 905, 402, 898, 401, 899, 384, 902, 384, 904, 364, 909, 364, 910, 358, 885, 358, 883, 400, 880, 401'
= tag :area, title: 'Народний дім (Колгоспний театр імені Кропивницького)', shape: :poly, alt: :Probe, coords: '897, 249, 921, 250, 922, 284, 931, 285, 931, 298, 894, 296'
= tag :area, title: 'Тюрма (Ардом)', shape: :poly, alt: :Probe, coords: '1044, 394, 1097, 393, 1097, 450, 1075, 451, 1075, 443, 1045, 443'
= tag :area, title: 'Корпус земської лікарні (Округова лікарня)', shape: :poly, alt: :Probe, coords: '848, 754, 898, 756, 897, 776, 847, 773'
= tag :area, title: 'Бульварна вулиця', shape: :poly, alt: :Probe, coords: '620, 48, 592, 401, 609, 399, 638, 46'
= tag :area, title: 'Поштова вулиця', shape: :poly, alt: :Probe, coords: '831, 60, 800, 417, 865, 423, 901, 86'
= tag :area, title: 'Дворянська (Громадянська) вулиця', shape: :poly, alt: :Probe, coords: '220, 488, 230, 506, 577, 547, 579, 530'
= tag :area, title: 'Дворянське зібрання (Профбюро)', shape: :poly, alt: :Probe, coords: '557, 544, 570, 545, 568, 565, 554, 563'
= tag :area, title: 'Дім Ярцева (Партшкола)', shape: :poly, alt: :Probe, coords: '555, 497, 574, 500, 571, 524, 552, 522'
= tag :area, title: 'Кінотеатр Едісон', shape: :poly, alt: :Probe, coords: '604, 483, 629, 485, 624, 511, 631, 512, 629, 525, 600, 523'
= tag :area, title: 'Преображенський собор', shape: :poly, alt: :Probe, coords: '764, 512, 773, 512, 774, 506, 782, 507, 782, 514, 790, 513, 790, 522, 782, 524, 782, 530, 772, 531, 771, 524, 764, 522'
= tag :area, title: 'Школа Бишенка (Дитбудинок імені Леніна)', shape: :poly, alt: :Probe, coords: '35, 281, 47, 302,24, 314, 13, 292'
= tag :area, title: 'Дім Чугаєва', shape: :poly, alt: :Probe, coords: '233, 322, 250, 324,248, 356, 231, 355'
= tag :area, title: 'Публічна бібліотека з музеєм', shape: :poly, alt: :Probe, coords: '224, 458, 246, 460, 243, 480, 221, 479'
= tag :area, title: 'Типографія Нутіс (Міськтипографія)', shape: :poly, alt: :Probe, coords: '421, 718, 420, 738, 445, 739, 446, 721'
= tag :area, title: 'Жіноча гімназія (Педагогічний технікум)', shape: :poly, alt: :Probe, coords: '414, 784, 440, 785, 438, 842, 411, 841'
= tag :area, title: 'Пожежна частина', shape: :poly, alt: :Probe, coords: '468, 795, 489, 796, 490, 826, 467, 826'
= tag :area, title: 'Міський дім (Окрвиконком)', shape: :poly, alt: :Probe, coords: '516, 782, 537, 784, 533, 817, 514, 817'
= tag :area, title: 'Типографія Фліт (Товариство сприяння обороні авіаційному і хімічному будівництву)', shape: :poly, alt: :Probe, coords: '637, 878, 634, 901, 639, 902, 640, 896, 652, 897, 652, 900, 659, 900, 659, 878'
= tag :area, title: 'Реальне училище (Школа №1)', shape: :poly, alt: :Probe, coords: '695, 673, 693, 760, 723, 761, 724, 764, 764, 764, 764, 747, 711, 747, 711, 730, 719, 729, 719, 704, 711, 702, 712, 685, 721, 685, 721, 672'
= tag :area, title: 'Гоголівська вулиця', shape: :poly, alt: :Probe, coords: '224, 480, 204, 459, 246, 2, 262, 5'
= tag :area, title: 'Казначейство (Семирічна школа)', shape: :poly, alt: :Probe, coords: '685, 619, 741, 621, 741, 644, 727, 645, 727, 634, 722, 634, 723, 640, 703, 641, 703, 634, 698, 633, 698, 644, 684, 644'
= tag :area, title: 'Дім Жевержєєва (Змішторг)', shape: :poly, alt: :Probe, coords: '537, 659, 558, 661, 560, 643, 539, 641'
= tag :area, title: 'Дім Дементьєва (Технікум)', shape: :poly, alt: :Probe, coords: '544, 589, 564, 590, 561, 620, 541, 618'
= tag :area, title: 'Велика Подворська  (Пушкінська) вулиця', shape: :poly, alt: :Probe, coords: '395, 733, 320, 706, 77, 191, 5, 191, 309, 714, 390, 749'
= tag :area, title: 'Електростанція', shape: :poly, alt: :Probe, coords: '892, 857, 925, 857, 925, 842, 897, 842'
= tag :area, title: 'Дім нотаріуса Каковського (Окрздрав)', shape: :poly, alt: :Probe, coords: '555, 695, 556, 680, 541, 677, 541, 693'
= tag :area, title: 'Провулок Бульварний', shape: :poly, alt: :Probe, coords: '440, 390, 590, 405, 587, 415, 441, 400'
= tag :area, title: 'Санбак лабораторія', shape: :poly, alt: :Probe, coords: '413,213,429,214,432,195,420,193'
= tag :area, title: 'Дім Сокальської. Роддом', shape: :poly, alt: :Probe, coords: '419,129,436,129,437,119,421,117'
= tag :area, title: 'Будинок 1825 р.', shape: :poly, alt: :Probe, coords: '461,133,487,135,485,143,461,141'
= tag :area, title: 'Будинок 1935 р.', shape: :poly, alt: :Probe, coords: '805,490,819,490,823,458,810,454,811,448,783,446,781,450,767,450,765,461,778,465,781,459,807,461'
= tag :area, title: 'Міський сквер', shape: :poly, alt: :Probe, coords: '599,544,689,549,667,854,567,852'
= tag :area, title: 'Вулиця Верхньо-Базарна', shape: :poly, alt: :Probe, coords: '633,45,305,3,349,1,634,35'
= tag :area, title: 'Вулиця Залікарняна', shape: :poly, alt: :Probe, coords: '1040,721,1053,724,1091,647,1130,480,1158,386,1172,286,1158,290,1145,370,1116,485,1090,592,1064,669'
= tag :area, title: 'Червоний Яр', shape: :poly, alt: :Probe, coords: '249,868,304,843,319,808,371,783,363,809,338,813,323,847,306,875,286,895'
= tag :area, title: 'Провулок Каретний', shape: :poly, alt: :Probe, coords: '72,759,149,723,288,692,286,700,151,731,72,764'
