.user-data
  h2= t('titles.posts.edit')
    = t('registration.resource_name')
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    .field
      = f.label :email, t('registration.email')
      br
      = f.email_field :email, autofocus: true
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      = t('registration.wait_email_confirmation')
        = resource.unconfirmed_email
    .field
      = f.label :nickname, t('registration.nickname')
      br
      = f.text_field :nickname
    .field
      = f.label :first_name, t('registration.first_name')
      br
      = f.text_field :first_name
    .field
      = f.label :last_name, t('registration.last_name')
      br
      = f.text_field :last_name
    .field
      = f.label :password, t('registration.password')
      i= t('registration.leave_blank_password')
      br
      = f.password_field :password, autocomplete: :off
      - if @minimum_password_length
        br
        em= "(#{@minimum_password_length}  #{t('registration.password_min')})"
    .field
      = f.label :password_confirmation, t('registration.password_confirmation')
      br
      = f.password_field :password_confirmation, autocomplete: :off
    .field
      = f.label :current_password, t('registration.current_password')
      i= t('registration.need_password_to_confirm')
      br
      = f.password_field :current_password, autocomplete: :off
    .actions
      = f.submit t('change')
  = link_to t('back'), :back
  .delete
    h3= t('registration.delete_account')
    p= t('not_satisfied')
    = button_to t('registration.delete_account'), registration_path(resource_name),
                                                  data: { confirm: t('confirmation') },
                                                  method: :delete
