/* line 5, /home/donets/projects/test-of-museum/app/assets/stylesheets/pages.scss */
.user-data h1 {
  text-align: center;
}
/* line 9, /home/donets/projects/test-of-museum/app/assets/stylesheets/pages.scss */
.user-data p {
  margin: 5px 0px;
  padding-left: 10px;
  text-indent: 20px;
}
/* line 5, /home/donets/projects/test-of-museum/app/assets/stylesheets/posts.scss */
.posts {
  min-height: 50px;
  background-color: #F5F5F5;
  margin: 20px 30px 0px 30px;
  border-radius: 3px;
  border: 2px solid #000;
}
/* line 12, /home/donets/projects/test-of-museum/app/assets/stylesheets/posts.scss */
.posts .post-title-show {
  margin: 10px 0 0;
  font-size: 1.2em;
  text-align: center;
}
/* line 17, /home/donets/projects/test-of-museum/app/assets/stylesheets/posts.scss */
.posts .post-body-show {
  margin: 0 15px 10px;
}
/* line 21, /home/donets/projects/test-of-museum/app/assets/stylesheets/posts.scss */
.posts p {
  padding: 10px 5px 0px 15px;
}
/* line 25, /home/donets/projects/test-of-museum/app/assets/stylesheets/posts.scss */
.posts h1 {
  margin-top: 10px;
  text-align: center;
  font-size: 1.25em;
}
/* line 31, /home/donets/projects/test-of-museum/app/assets/stylesheets/posts.scss */
.posts a {
  font-weight: 1.1em;
  display: inline-block;
  color: #808080;
  margin: 5px 0px 10px 15px;
}
/* line 38, /home/donets/projects/test-of-museum/app/assets/stylesheets/posts.scss */
.posts form {
  margin: 10px 0px 10px 15px;
}
/* line 42, /home/donets/projects/test-of-museum/app/assets/stylesheets/posts.scss */
.posts form p {
  padding: 10px 5px 0px 5px;
}
/* line 48, /home/donets/projects/test-of-museum/app/assets/stylesheets/posts.scss */
.posts .post-view {
  border-bottom: 1px solid #000;
}
/* line 51, /home/donets/projects/test-of-museum/app/assets/stylesheets/posts.scss */
.posts .post-view p {
  margin-left: 10px;
}
/* line 55, /home/donets/projects/test-of-museum/app/assets/stylesheets/posts.scss */
.posts .post-view .post-title {
  border: 2px solid #000;
  margin: 5px;
  border-radius: 3px;
}
/* line 61, /home/donets/projects/test-of-museum/app/assets/stylesheets/posts.scss */
.posts .post-view .post-body {
  border: 2px solid #000;
  margin: 5px;
  border-radius: 3px;
}
/* line 68, /home/donets/projects/test-of-museum/app/assets/stylesheets/posts.scss */
.posts .post-view .post-comments {
  margin-left: 15px;
}
/* line 73, /home/donets/projects/test-of-museum/app/assets/stylesheets/posts.scss */
.posts .post-view .post-comment-user-view {
  margin: 0 10px 0 20px;
}
/* line 77, /home/donets/projects/test-of-museum/app/assets/stylesheets/posts.scss */
.posts .post-view .post-comment-view {
  border: 2px solid #000;
  border-radius: 3px;
  margin: 0px 10px 2px 10px;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 7, /home/donets/projects/test-of-museum/app/assets/stylesheets/reset.css.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, /home/donets/projects/test-of-museum/app/assets/stylesheets/reset.css.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

/* line 32, /home/donets/projects/test-of-museum/app/assets/stylesheets/reset.css.scss */
body {
  line-height: 1;
}

/* line 35, /home/donets/projects/test-of-museum/app/assets/stylesheets/reset.css.scss */
ol, ul {
  list-style: none;
}

/* line 38, /home/donets/projects/test-of-museum/app/assets/stylesheets/reset.css.scss */
blockquote, q {
  quotes: none;
}

/* line 41, /home/donets/projects/test-of-museum/app/assets/stylesheets/reset.css.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 46, /home/donets/projects/test-of-museum/app/assets/stylesheets/reset.css.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@charset "UTF-8";
/* line 1, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
html, body {
  height: 100%;
  width: 100%;
  background-color: #A9A9A9;
}

/* line 6, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.wrapper {
  margin: auto;
  min-height: 100%;
  background: url("background.jpg");
  background-attachment: fixed;
  background-size: 100%;
}
@font-face {
  /* line 6, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
  .wrapper {
    font-family: 'Yakutovich';
    /* Имя шрифта */
    src: url("Yakutovich.ttf");
    /* Путь к файлу со шрифтом */
  }
}
/* line 18, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.header {
  color: #808080;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  min-height: 40px;
}

/* line 27, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.header form {
  display: inline-block;
  margin-left: 10px;
  margin-top: 5px;
  width: 250px;
}

/* line 34, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.header input {
  color: #A9A9A9;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  border: 1px solid #000000;
  border-radius: 2px;
  padding: 5px 2px 5px 30px;
  background: url("search.png") no-repeat scroll 0% 50%;
}

/* line 46, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.header input[type=submit] {
  padding: 4px 2px 4px;
  background-image: none;
}

/* line 51, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
#navbar {
  height: 30px;
  float: right;
  min-width: 470px;
  text-align: center;
}

/* line 59, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
#navbar ul {
  display: none;
  position: absolute;
  top: 100;
}

/* line 65, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
#navbar li:hover ul {
  display: block;
  background-color: rgba(169, 169, 169, 0.5);
  border-radius: 5px;
}

/* line 71, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
#navbar, #navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 77, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
#navbar li {
  display: inline-block;
  float: left;
  position: relative;
  line-height: 30px;
}

/* line 84, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
#navbar ul li {
  float: none;
}

/* line 88, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
#navbar li a {
  display: block;
  padding: 6px;
  min-width: 135px;
  font-size: 1.05em;
  font-weight: bold;
  color: #DCDCDC;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-decoration: none;
  text-align: center;
}

/* line 105, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
#navbar ul li {
  float: none;
}

/* line 109, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
#navbar a:hover {
  color: #fff;
  background-color: rgba(169, 169, 169, 0.5);
  border-radius: 5px;
}

/* line 115, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
#navbar ul li:hover {
  color: #fff;
}

/* line 120, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.left_column {
  min-height: 500px;
  width: 800px;
}

/* --------------------------------

Primary style

-------------------------------- */
/* line 138, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 144, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
body {
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  background: #000000 url(header.jpg) no-repeat center top;
}

/* line 150, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
a {
  color: #dc717d;
  text-decoration: none;
}

/* line 155, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
img {
  max-width: 100%;
}

/* --------------------------------

Main components

-------------------------------- */
/* line 164, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
header {
  position: relative;
  height: 160px;
  line-height: 160px;
  text-align: center;
}

/* line 170, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
header h1 {
  font-size: 22px;
  font-size: 1.375rem;
  color: #ffffff;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (min-width: 768px) {
  /* line 179, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
  header {
    height: 240px;
    line-height: 240px;
  }

  /* line 183, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
  header h1 {
    font-size: 32px;
    font-size: 2rem;
  }
}
/* line 189, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.cd-image-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0em auto;
  background-color: #f3f4ef;
  border: 6px solid #dedede;
}

/* line 196, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.cd-image-container img {
  display: block;
}

/* line 200, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.cd-image-label {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #ffffff;
  padding: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
}

/* line 218, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.cd-image-label.is-hidden {
  visibility: hidden;
}

/* line 221, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.is-visible .cd-image-label {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

/* line 230, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.cd-resize-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 246, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.cd-resize-img img {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: auto;
  max-width: none;
}

/* line 255, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.cd-resize-img .cd-image-label {
  right: auto;
  left: 0;
}

/* line 259, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.is-visible .cd-resize-img {
  width: 50%;
  /* bounce in animation of the modified image */
  -webkit-animation: cd-bounce-in 0.7s;
  -moz-animation: cd-bounce-in 0.7s;
  animation: cd-bounce-in 0.7s;
}

@-webkit-keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
@-moz-keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
@keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
/* line 300, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.cd-handle {
  position: absolute;
  height: 100%;
  width: 8px;
  /* center the element */
  left: 50%;
  top: 0;
  background: #dc717d;
  cursor: move;
  box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) scale(0);
  -moz-transform: translate3d(0, 0, 0) scale(0);
  -ms-transform: translate3d(0, 0, 0) scale(0);
  -o-transform: translate3d(0, 0, 0) scale(0);
  transform: translate3d(0, 0, 0) scale(0);
}

/* line 317, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.cd-handle.draggable {
  /* change background color when element is active */
  background-color: #445b7c;
}

/* line 321, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.is-visible .cd-handle {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0s 0.7s;
}
/* line 5, /home/donets/projects/test-of-museum/app/assets/stylesheets/users.scss */
.user-data {
  min-height: 50px;
  background-color: #F5F5F5;
  margin: 20px 30px 0px 30px;
  border-radius: 3px;
  border: 2px solid #000;
}
/* line 12, /home/donets/projects/test-of-museum/app/assets/stylesheets/users.scss */
.user-data h2, .user-data h3 {
  text-align: center;
  font-size: 1.1em;
}
/* line 18, /home/donets/projects/test-of-museum/app/assets/stylesheets/users.scss */
.user-data .delete {
  padding: 3px 0px 0px 30px;
  border-top: 1px solid #000;
}
/* line 22, /home/donets/projects/test-of-museum/app/assets/stylesheets/users.scss */
.user-data .delete p {
  margin: 3px 0px;
}
/* line 27, /home/donets/projects/test-of-museum/app/assets/stylesheets/users.scss */
.user-data .field, .user-data .actions {
  margin: 5px 0px 5px 30px;
}
/* line 31, /home/donets/projects/test-of-museum/app/assets/stylesheets/users.scss */
.user-data a {
  font-weight: 1.1em;
  display: inline-block;
  color: #808080;
  margin: 0px 0px 10px 30px;
}
/* line 38, /home/donets/projects/test-of-museum/app/assets/stylesheets/users.scss */
.user-data input {
  background-color: #D3D3D3;
  border-radius: 5px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/*
*/
