/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/

.markItUp .markItUpButton1 a {
    background-image: url(h1.png);
}
.markItUp .markItUpButton2 a {
    background-image: url(h2.png);
}
.markItUp .markItUpButton3 a {
    background-image: url(h3.png);
}
.markItUp .markItUpButton4 a {
    background-image: url(h4.png);
}
.markItUp .markItUpButton5 a {
    background-image: url(h5.png);
}
.markItUp .markItUpButton6 a {
    background-image: url(h6.png);
}
.markItUp .markItUpButton7 a {
	background-image:url(bold.png);
}
.markItUp .markItUpButton8 a {
	background-image:url(italic.png);
}
.markItUp .markItUpButton9 a {
	background-image:url(stroke.png);
}

.markItUp .markItUpButton10 a {
	background-image:url(list-bullet.png);
}
.markItUp .markItUpButton11 a {
	background-image:url(list-numeric.png);
}

.markItUp .markItUpButton12 a {
	background-image:url(picture.png);
}
.markItUp .markItUpButton13 a {
	background-image:url(link.png);
}
.markItUp .markItUpButton14 a {
	background-image:url(clean.png);
}
.markItUp .preview a {
	background-image:url(preview.png);
}
/* line 1, /home/donets/projects/test-of-museum/app/assets/stylesheets/comparison.scss */
.cd-image-container {
  position: relative;
  max-width: 1280px;
  margin: 0em auto;
}

/* line 7, /home/donets/projects/test-of-museum/app/assets/stylesheets/comparison.scss */
.cd-image-container img {
  display: block;
  max-width: 100%;
}

/* line 12, /home/donets/projects/test-of-museum/app/assets/stylesheets/comparison.scss */
.cd-image-label {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #ffffff;
  padding: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
}

/* line 30, /home/donets/projects/test-of-museum/app/assets/stylesheets/comparison.scss */
.cd-image-label.is-hidden {
  visibility: hidden;
}

/* line 33, /home/donets/projects/test-of-museum/app/assets/stylesheets/comparison.scss */
.is-visible .cd-image-label {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

/* line 42, /home/donets/projects/test-of-museum/app/assets/stylesheets/comparison.scss */
.cd-resize-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 58, /home/donets/projects/test-of-museum/app/assets/stylesheets/comparison.scss */
.cd-resize-img img {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: auto;
  max-width: none;
}

/* line 67, /home/donets/projects/test-of-museum/app/assets/stylesheets/comparison.scss */
.cd-resize-img .cd-image-label {
  right: auto;
  left: 0;
}

/* line 71, /home/donets/projects/test-of-museum/app/assets/stylesheets/comparison.scss */
.is-visible .cd-resize-img {
  width: 50%;
  /* bounce in animation of the modified image */
  -webkit-animation: cd-bounce-in 0.7s;
  -moz-animation: cd-bounce-in 0.7s;
  animation: cd-bounce-in 0.7s;
}

@-webkit-keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
@-moz-keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
@keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
/* line 112, /home/donets/projects/test-of-museum/app/assets/stylesheets/comparison.scss */
.cd-handle {
  position: absolute;
  height: 20px;
  width: 20px;
  /* center the element */
  left: 50%;
  top: 50%;
  margin-left: -11px;
  margin-top: -11px;
  border-radius: 50%;
  background: #dc717d url("wood_texture.jpg") no-repeat center center;
  cursor: move;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) scale(0);
  -moz-transform: translate3d(0, 0, 0) scale(0);
  -ms-transform: translate3d(0, 0, 0) scale(0);
  -o-transform: translate3d(0, 0, 0) scale(0);
  transform: translate3d(0, 0, 0) scale(0);
}

/* line 133, /home/donets/projects/test-of-museum/app/assets/stylesheets/comparison.scss */
.cd-handle.draggable {
  /* change background color when element is active */
  background: #dc717d;
  opacity: 0.5;
}

/* line 138, /home/donets/projects/test-of-museum/app/assets/stylesheets/comparison.scss */
.is-visible .cd-handle {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0s 0.7s;
}
/* -------------------------------------------------------------------
// markItUp! Universal MarkUp Engine, JQuery plugin
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/

.markItUp * {
	margin:0px; padding:0px;
	outline:none;
}
.markItUp a:link,
.markItUp a:visited {
	color:#000;
	text-decoration:none;
}
.markItUp  {
	width:700px;
	margin:5px 0 5px 0;
	border:5px solid #F5F5F5;	
}
.markItUpContainer  {
	border:1px solid #3C769D;	
	background:#FFF url(bg-container.png) repeat-x top left;
	padding:5px 5px 2px 5px;
	font:11px Verdana, Arial, Helvetica, sans-serif;
}
.markItUpEditor {
	font:12px 'Courier New', Courier, monospace;
	padding:5px 5px 5px 35px;
	border:3px solid #3C769D;
	width:643px;
	height:320px;
	background:#FFF url(bg-editor.png) no-repeat;
	clear:both;
	line-height:18px;
	overflow:auto;
}
.markItUpPreviewFrame	{
	overflow:auto;
	background-color:#FFFFFF;
	border:1px solid #3C769D;
	width:99.9%;
	height:300px;
	margin:5px 0;
}
.markItUpFooter {
	width:100%;
	cursor:n-resize;
}
.markItUpResizeHandle {
	overflow:hidden;
	width:22px; height:5px;
	margin-left:auto;
	margin-right:auto;handle.png);
	cursor:n-resize;
}
/***************************************************************************************/
/* first row of buttons */
.markItUpHeader ul li	{
	list-style:none;
	float:left;
	position:relative;
}
.markItUpHeader ul li ul{
	display:none;
}
.markItUpHeader ul li:hover > ul{
	display:block;
}
.markItUpHeader ul .markItUpDropMenu {
	background:transparent url(menu.png) no-repeat 115% 50%;
	margin-right:5px;
}
.markItUpHeader ul .markItUpDropMenu li {
	margin-right:0px;
}
.markItUpHeader ul .markItUpSeparator {
	margin:0 10px;
	width:1px;
	height:16px;
	overflow:hidden;
	background-color:#CCC;
}
.markItUpHeader ul ul .markItUpSeparator {
	width:auto; height:1px;
	margin:0px;
}
/* next rows of buttons */
.markItUpHeader ul ul {
	display:none;
	position:absolute;
	top:18px; left:0px;	
	background:#F5F5F5;
	border:1px solid #3C769D;
	height:inherit;
}
.markItUpHeader ul ul li {
	float:none;
	border-bottom:1px solid #3C769D;
}
.markItUpHeader ul ul .markItUpDropMenu {
	background:#F5F5F5 url(submenu.png) no-repeat 100% 50%;
}
/* next rows of buttons */
.markItUpHeader ul ul ul {
	position:absolute;
	top:-1px; left:150px;
}
.markItUpHeader ul ul ul li {
	float:none;
}
.markItUpHeader ul a {
	display:block;
	width:16px; height:16px;
	text-indent:-10000px;
	background-repeat:no-repeat;
	padding:3px;
	margin:0px;
}
.markItUpHeader ul ul a {
	display:block;
	padding-left:0px;
	text-indent:0;
	width:120px; 
	padding:5px 5px 5px 25px;
	background-position:2px 50%;
}
.markItUpHeader ul ul a:hover  {
	color:#FFF;
	background-color:#3C769D;
}
/***************************************************************************************/
.html .markItUpEditor {
	background-image:url(bg-editor-html.png);
}
.markdown .markItUpEditor {
	background-image:url(bg-editor-markdown.png);
}
.textile .markItUpEditor {
	background-image:url(bg-editor-textile.png);
}
.bbcode .markItUpEditor {
	background-image:url(bg-editor-bbcode.png);
}
.wiki .markItUpEditor,
.dotclear .markItUpEditor {
	background-image:url(bg-editor-wiki.png);
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 7, /home/donets/projects/test-of-museum/app/assets/stylesheets/reset.css.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, /home/donets/projects/test-of-museum/app/assets/stylesheets/reset.css.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

/* line 32, /home/donets/projects/test-of-museum/app/assets/stylesheets/reset.css.scss */
body {
  line-height: 1;
}

/* line 35, /home/donets/projects/test-of-museum/app/assets/stylesheets/reset.css.scss */
ol, ul {
  list-style: none;
}

/* line 38, /home/donets/projects/test-of-museum/app/assets/stylesheets/reset.css.scss */
blockquote, q {
  quotes: none;
}

/* line 41, /home/donets/projects/test-of-museum/app/assets/stylesheets/reset.css.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 46, /home/donets/projects/test-of-museum/app/assets/stylesheets/reset.css.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Izhitsa';
  src: url("Izhitsa.eot");
  src: url("Izhitsa.eot?#iefix") format("embedded-opentype"), url("Izhitsa.woff2") format("woff2"), url("Izhitsa.woff") format("woff"), url("Izhitsa.ttf") format("truetype"), url("Izhitsa.svg#Izhitsa") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 13, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
body, html {
  height: 100%;
}

/* line 16, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
body {
  margin: 0;
  color: #000;
  font: 12px/14px  'Izhitsa';
  background: url("parchment.jpg") 50% 50%;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 24, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
body p.description {
  font-family: Izhitsa;
  padding: 10px 20px 0;
  font-size: 22px;
  line-height: 22px;
}
/* line 29, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
body p.description:first-letter {
  float: left;
  padding: 7px 7px 0 0;
  font-size: 44px;
  font-weight: bold;
  line-height: 44px;
  color: #A20507;
}
/* line 37, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
body p.description a {
  color: #000;
}
/* line 39, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
body p.description a:hover {
  color: #A20507;
  text-decoration: none;
}

/* General reset */
/* line 48, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
form, fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

/* line 53, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
img {
  border-style: none;
}

/* line 54, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
input, select, textarea {
  vertical-align: middle;
  font: 100% arial, helvetica, sans-serif;
}

/* line 58, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 60, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
a {
  color: #034b8f;
  text-decoration: none;
}

/* line 61, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
a:hover {
  text-decoration: underline;
}

/* line 62, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
q {
  quotes: none;
}

/* line 63, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
q:before {
  content: '';
}

/* line 64, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
q:after {
  content: '';
}

/* General settings */
/* line 67, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
article, aside, audio, canvas, datalist, details, figcaption, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, summary, time, video {
  display: block;
}

/* line 71, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 77, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
#wrapper {
  width: 100%;
  padding: 10px 10px 0;
  min-height: 100%;
  font-family: Izhitsa;
}

/* line 83, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.h-top {
  width: 100%;
  overflow: hidden;
  display: table;
}

/* line 88, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.logo {
  float: left;
}
/* line 90, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.logo a {
  display: block;
}
/* line 92, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.logo a:hover {
  text-decoration: none;
}
/* line 94, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.logo img {
  max-width: 200px;
  display: inline-block;
  vertical-align: middle;
  height: auto;
}
/* line 100, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.logo span {
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
  font-weight: normal;
  font-size: 40px;
  line-height: 42px;
  color: #A20507;
}

/* line 111, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
#content .img-bottom {
  margin: 0 -10px;
}
/* line 113, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
#content .img-bottom img {
  width: 100%;
  display: block;
  height: auto;
}

/* line 121, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
#nav {
  margin: 0;
  padding: 50px 0 0 0;
  list-style-type: none;
  font-size: 30px;
  line-height: 32px;
  float: right;
}
/* line 128, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
#nav li {
  float: left;
  padding: 0 10px;
}
/* line 132, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
#nav a {
  color: #000;
}
/* line 134, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
#nav a:hover {
  color: #A20507;
  text-decoration: none;
}

/* line 140, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.holder {
  width: 100%;
  overflow: hidden;
}
/* line 143, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.holder ul {
  float: left;
}
/* line 146, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.holder img {
  float: right;
}

@media screen and (max-width: 1300px) {
  /* line 151, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
  #nav {
    font-size: 25px;
  }

  /* line 155, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
  .logo span {
    font-size: 50px;
  }
}
@media screen and (max-width: 1270px) {
  /* line 161, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
  #nav {
    display: block;
    width: 100%;
    float: none;
    text-align: center;
    font-size: 22px;
  }
  /* line 167, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
  #nav li {
    padding: 0 5px;
    float: none;
    display: inline-block;
    vertical-align: middle;
  }
}
@media screen and (max-width: 1100px) {
  /* line 176, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
  .logo, #nav {
    display: block;
    width: 100%;
    padding-top: 0;
    float: none;
    text-align: center;
  }

  /* line 183, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
  .logo {
    padding-bottom: 20px;
  }
  /* line 185, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
  .logo img {
    max-width: 150px;
  }
  /* line 188, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
  .logo span {
    display: block;
    font-size: 33px;
  }

  /* line 194, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
  #nav li {
    float: none;
    display: inline-block;
    vertical-align: middle;
  }

  /* line 200, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
  .home {
    background-repeat: repeat;
    -webkit-background-size: auto auto;
    -o-background-size: auto;
    background-size: auto;
  }
  /* line 205, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
  .home #content {
    display: none;
  }
  /* line 208, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
  .home #header {
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  /* line 234, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
  h1 {
    text-align: center;
    font-size: 30px;
    line-height: normal;
  }

  /* line 240, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
  ul.horizontal li.button {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
  }
  /* line 245, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
  ul.horizontal li.button a {
    white-space: nowrap;
  }
}
/* line 252, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
h1 {
  text-align: center;
  font-size: 40px;
  font-family: Izhitsa;
  min-height: 40px;
  padding: 30px 0;
}
/* line 258, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
h1 a {
  margin: 5px 0px;
  text-decoration: none;
  color: #000;
}
/* line 262, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
h1 a:hover {
  text-decoration: none;
  color: #A20507;
}

/* line 269, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.comparison-wrapper {
  background: url("wood_texture.jpg");
  padding: 10px;
  border-radius: 3px;
}

/* line 275, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
ul.horizontal {
  margin: 0 0 10px;
  padding: 4px;
  text-align: center;
}
/* line 279, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
ul.horizontal li {
  box-shadow: 3px 3px 4px #000;
  background: url("wood_texture.jpg");
  display: inline;
  margin-right: 5px;
  border-radius: 0.35em;
  padding: 5px;
  font-size: 20px;
}
/* line 287, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
ul.horizontal li a {
  font-family: Izhitsa;
  color: #E0EEE0;
  text-decoration: none;
}
/* line 291, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
ul.horizontal li a:hover {
  text-decoration: none;
  color: #A20507;
}

/* line 300, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.post p > a {
  display: block;
  margin: 5px auto;
  text-align: center;
  font-size: 26px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/*
*/
