@font-face {
  font-family: 'Izhitsa';
  src: url("Izhitsa.eot");
  src: url("Izhitsa.eot?#iefix") format("embedded-opentype"), url("Izhitsa.woff2") format("woff2"), url("Izhitsa.woff") format("woff"), url("Izhitsa.ttf") format("truetype"), url("Izhitsa.svg#Izhitsa") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 13, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
body, html {
  height: 100%;
}

/* line 16, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
body {
  margin: 0;
  color: #000;
  font: 12px/14px  'Izhitsa';
  background: url("parchment.jpg") 50% 50%;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 24, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
body p.description {
  font-family: Izhitsa;
  padding: 10px 20px 0;
  font-size: 22px;
  line-height: 22px;
}
/* line 29, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
body p.description:first-letter {
  float: left;
  padding: 7px 7px 0 0;
  font-size: 44px;
  font-weight: bold;
  line-height: 44px;
  color: #A20507;
}
/* line 37, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
body p.description a {
  color: #000;
}
/* line 39, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
body p.description a:hover {
  color: #A20507;
  text-decoration: none;
}

/* General reset */
/* line 48, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
form, fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

/* line 53, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
img {
  border-style: none;
}

/* line 54, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
input, select, textarea {
  vertical-align: middle;
  font: 100% arial, helvetica, sans-serif;
}

/* line 58, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 60, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
a {
  color: #034b8f;
  text-decoration: none;
}

/* line 61, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
a:hover {
  text-decoration: underline;
}

/* line 62, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
q {
  quotes: none;
}

/* line 63, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
q:before {
  content: '';
}

/* line 64, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
q:after {
  content: '';
}

/* General settings */
/* line 67, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
article, aside, audio, canvas, datalist, details, figcaption, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, summary, time, video {
  display: block;
}

/* line 71, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 77, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
#wrapper {
  width: 100%;
  padding: 10px 10px 0;
  min-height: 100%;
  font-family: Izhitsa;
}

/* line 83, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.h-top {
  width: 100%;
  overflow: hidden;
  display: table;
}

/* line 88, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.logo {
  float: left;
}
/* line 90, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.logo a {
  display: block;
}
/* line 92, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.logo a:hover {
  text-decoration: none;
}
/* line 94, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.logo img {
  max-width: 200px;
  display: inline-block;
  vertical-align: middle;
  height: auto;
}
/* line 100, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.logo span {
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
  font-weight: normal;
  font-size: 40px;
  line-height: 42px;
  color: #A20507;
}

/* line 111, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
#content .img-bottom {
  margin: 0 -10px;
}
/* line 113, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
#content .img-bottom img {
  width: 100%;
  display: block;
  height: auto;
}

/* line 121, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
#nav {
  margin: 0;
  padding: 50px 0 0 0;
  list-style-type: none;
  font-size: 30px;
  line-height: 32px;
  float: right;
}
/* line 128, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
#nav li {
  float: left;
  padding: 0 10px;
}
/* line 132, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
#nav a {
  color: #000;
}
/* line 134, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
#nav a:hover {
  color: #A20507;
  text-decoration: none;
}

/* line 140, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.holder {
  width: 100%;
  overflow: hidden;
}
/* line 143, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.holder ul {
  float: left;
}
/* line 146, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.holder img {
  float: right;
}

@media screen and (max-width: 1300px) {
  /* line 151, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
  #nav {
    font-size: 25px;
  }

  /* line 155, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
  .logo span {
    font-size: 50px;
  }
}
@media screen and (max-width: 1270px) {
  /* line 161, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
  #nav {
    display: block;
    width: 100%;
    float: none;
    text-align: center;
    font-size: 22px;
  }
  /* line 167, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
  #nav li {
    padding: 0 5px;
    float: none;
    display: inline-block;
    vertical-align: middle;
  }
}
@media screen and (max-width: 1100px) {
  /* line 176, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
  .logo, #nav {
    display: block;
    width: 100%;
    padding-top: 0;
    float: none;
    text-align: center;
  }

  /* line 183, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
  .logo {
    padding-bottom: 20px;
  }
  /* line 185, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
  .logo img {
    max-width: 150px;
  }
  /* line 188, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
  .logo span {
    display: block;
    font-size: 33px;
  }

  /* line 194, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
  #nav li {
    float: none;
    display: inline-block;
    vertical-align: middle;
  }

  /* line 200, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
  .home {
    background-repeat: repeat;
    -webkit-background-size: auto auto;
    -o-background-size: auto;
    background-size: auto;
  }
  /* line 205, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
  .home #content {
    display: none;
  }
  /* line 208, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
  .home #header {
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  /* line 234, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
  h1 {
    text-align: center;
    font-size: 30px;
    line-height: normal;
  }

  /* line 240, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
  ul.horizontal li.button {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
  }
  /* line 245, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
  ul.horizontal li.button a {
    white-space: nowrap;
  }
}
/* line 252, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
h1 {
  text-align: center;
  font-size: 40px;
  font-family: Izhitsa;
  min-height: 40px;
  padding: 30px 0;
}
/* line 258, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
h1 a {
  margin: 5px 0px;
  text-decoration: none;
  color: #000;
}
/* line 262, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
h1 a:hover {
  text-decoration: none;
  color: #A20507;
}

/* line 269, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.comparison-wrapper {
  background: url("wood_texture.jpg");
  padding: 10px;
  border-radius: 3px;
}

/* line 275, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
ul.horizontal {
  margin: 0 0 10px;
  padding: 4px;
  text-align: center;
}
/* line 279, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
ul.horizontal li {
  box-shadow: 3px 3px 4px #000;
  background: url("wood_texture.jpg");
  display: inline;
  margin-right: 5px;
  border-radius: 0.35em;
  padding: 5px;
  font-size: 20px;
}
/* line 287, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
ul.horizontal li a {
  font-family: Izhitsa;
  color: #E0EEE0;
  text-decoration: none;
}
/* line 291, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
ul.horizontal li a:hover {
  text-decoration: none;
  color: #A20507;
}

/* line 300, /home/donets/projects/test-of-museum/app/assets/stylesheets/style.css.scss */
.post p > a {
  display: block;
  margin: 5px auto;
  text-align: center;
  font-size: 26px;
}
