<div class="user-data">
  <table>
  	<tr>
  		<td>Користувач:</td>
  		<td><%= @user.nickname %></td>
  	</tr>
  	<tr>
  		<td>Пошта:</td>
  		<td><%= @user.email %></td>
  	</tr>
  	<tr>
  		<td>Зареєстрований:</td>
  		<td><%= @user.created_at %></td>
  	</tr>
  	<tr>
  		<td>Останні зміни:</td>
  		<td><%= @user.updated_at %></td>
  	</tr>
  </table>
</div>
