@import '~bootstrap/dist/css/bootstrap';
$custom-file-text: (
        en: "Browse",
        uk: "Завантажити"
);
@import 'mixins';
@import 'comments';
@import 'comparison';
@import 'plans';
@import 'style';
@import 'devise/custom';
@import 'posts';
@import '~trix/dist/trix';
@import 'trix_override';
