# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://coffeescript.org/
$(document).on 'load turbolinks:load', ->
  commentForm = $('#new_comment')
  postId = $('#post-wrapper').data('post_id')
  commentsList = $('.comments')
  addFileLink = $('#add_comment_file')
  commentView = (data) ->
    JST['comment']({data: data})
  createComment = (data) ->
    commentsList.append(commentView(data))

  updateComments = (data) ->
    commentElem = commentsList.find("#comment_#{data.comment.id}").replaceWith(commentView(data))

  destroyComment = (data) ->
    $("#comment_#{data.comment_id}").remove();
  attachmentField = (lastInd) ->
    "<input data-attachment-number=\"#{lastInd}\" id=\"comment_attachments_attributes_#{lastInd}_file\" name=\"comment[attachments_attributes][#{lastInd}][file]\" type=\"file\">" +
    "<a class=\"remove_file\" data-file_number=\"#{lastInd}\" href=\"#\">#{I18n.t('titles.attachments.delete')}</a>"

  $(document).on 'click', '.edit-comment-link', (e) ->
    e.preventDefault();
    $(this).hide();
    commentId = $(this).data('commentId')
    $('form#edit-comment-' + commentId).show()

  commentForm.submit (e) ->
    e.preventDefault()
    $('.text-danger').each (i, elem) ->
      $(elem).remove()
    formData = new FormData(this);

    $.ajax
      url: window.location.pathname + '/comments'
      type: 'POST'
      data: formData
      success: ->
        $('#new_comment_text').val('')
        $('#new_comment .attachments input').val('');
        $('#new_comment .attachments').find('input, a').each (i, elem) ->
          elem.remove() if i isnt 0
      error: (e, xhr, status) ->
        errors = xhr.responseJSON
        errors.map (message) ->
          $('.comment-errors').append("<p class=\"text-danger\">#{message}</p>")
      cache: false
      contentType: false
      processData: false

  $('.attachments').on 'click', '.remove_file', (e) ->
    e.preventDefault()
    fileNumber = $(e.currentTarget).data('file_number')
    $("#comment_attachments_attributes_#{fileNumber}_file").val('')

  $('.add_nested_field').on 'click', (e) ->
    e.preventDefault()
    lastAttachment = $(e.currentTarget).parent().find("input[type='file']").last()
    lastInd = lastAttachment.data('attachment-number') + 1
    $(e.currentTarget).parent().append(attachmentField(lastInd))

  App.cable.subscriptions.create { channel: 'CommentsChannel', post_id: postId }, {
    connected: ->
      @perform 'follow'
    ,
    received: (data) ->
      switch data.action
        when 'create' then createComment(data)
        when 'update' then updateComments(data)
        when 'destroy' then destroyComment(data)
  }

