<% content_for :left_column do %>
  <div class="posts">
    <% @posts.each do |p| %>
        <div class="post-view">
          <p>Заголовок:</p>
          <div class="post-title">
            <%= p.title %>
          </div>
          <p>Текст:</p>
          <div class="post-body">
            <%= p.body %>
          </div>
            <% if p.comments %>
              <div class="post-comments">
                <% p.comments.each do |comment| %>
                  <p>Коментар:</p>
                  <div class="post-comment-view">
                    <%= comment.text %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
    <% end %>
  </div>
<% end %>
