  <div class="posts">
    <% @posts.each do |p| %>
        <div class="post-view">
          <p>Заголовок:</p>
          <div class="post-title">
             <%= link_to "#{p.title}", post_path(p) %>
          </div>
          <p>Текст:</p>
          <div class="post-body">
            <%= p.body %>
          </div>
            <% if p.comments.count > 0 %>
              <div class="post-comments">
                <p>Коменти:</p>
                  <% p.comments.each do |comment| %>
                    <div class="post-comment-view">
                      <%= comment.text %>
                    </div>
                  <% end %>
              </div>
            <% end %>
          </div>
    <% end %>
  </div>
