<% content_for :left_column do %>
  <div class="posts">
    <div class="post-title-show">
      <%= @post.title %>
    </div>
    <div class='post-body-show'>
      <%= @post.body %>    
    </div>
  </div>
<% end %>
