<% content_for :left_column do %>
  <% @posts.each do |p| %>
    <div class="post-title">
      <p>Заголовок:</p>
      <%= p.title %>
    </div>
    <div class="post-body">
      <p>Текст:</p>
      <%= p.body %>
    </div>
      <% if p.comments %>
        <% p.comments.each do |comment| %>
          <div>
            <p>Коментар:</p>
            <%= comment.text %>
          </div>
        <% end %>
      <% end %>
  <% end %>
<% end %>
