$(document).on 'load turbolinks:load', ->
  postForm = $('#post_form')
  newPostForm = $('#new_post')
  addPostBtn = $('#add_post_btn')
  postsList = $('.admin-posts-list tbody')
  addFileLink = $('#add_file')
  editPostForm = $('#edit_post')
  attachmentField = (lastInd) ->
    lastInd = lastInd || 0
    "<input data-attachment_number=\"#{lastInd}\" id=\"post_attachments_attributes_#{lastInd}_file\"" +
        " name=\"post[attachments_attributes][#{lastInd}][file]\" type=\"file\">" +
        "<a class=\"remove_file\" data-file_number=\"#{lastInd}\" href=\"#\">Delete attachment</a>"
  adminPostsLink = $('#admin_posts')

  addPostBtn.on 'click', (e) ->
    e.preventDefault()
    postForm.show()
    postForm.find('.cancel-btn').one 'click', ->
      postForm.hide()

  newPostForm.submit (e) ->
    e.preventDefault()
    $('.text-danger').each (i, elem) ->
      $(elem).remove()
    formData = new FormData(this);

    $.ajax
      url: window.location.pathname
      type: 'POST'
      data: formData
      success: (data) ->
        if window.location.pathname.match(/admin\/posts$/)
          postsList.append(JST['admin/post']({data: data}))
          $('#post_title').val ''
          $('#post_body').val ''
          postForm.hide()
        else
          window.location.pathname = "/admin/posts/#{data.post.id}"
      error: (e, xhr, status) ->
        errors = e.responseJSON
        if errors.title
          errors.title.map (message) ->
            $('#post_form_title').before("<p class=\"text-danger\">#{message}</p>")
        if errors.body
          errors.body.map (message) ->
            $('#markItUpPost_form_body').before("<p class=\"text-danger\">#{message}</p>")
      cache: false
      contentType: false
      processData: false
  editPostForm.on 'ajax:error', (e, xhr, status) ->
    errors = xhr.responseJSON
    if errors.title
      errors.title.map (message) ->
        $('#post_title').before("<p class=\"text-danger\">#{message}</p>")
    if errors.body
      errors.body.map (message) ->
        $('#markItUpPost_body').before("<p class=\"text-danger\">#{message}</p>")


  editPostForm.submit (e) ->
    $('.text-danger').each (i, e) ->
      $(e).remove()
    formData = new FormData(this);
    postId = $(this).data('postId')

    $.ajax
      url: "/admin/posts/#{postId}"
      type: 'PATCH'
      data: formData
      error: (e, xhr, status) ->
        errors = xhr.responseJSON
        if errors.title
          errors.title.map (message) ->
            $('#post_title').before("<p class=\"text-danger\">#{message}</p>")
        if errors.body
          errors.body.map (message) ->
            $('#markItUpPost_body').before("<p class=\"text-danger\">#{message}</p>")
      cache: false
      contentType: false
      processData: false
    false

  $('.attachments').on 'click', '.remove_file', (e) ->
    e.preventDefault()
    fileNumber = $(e.currentTarget).data('file_number')
    $("#post_form_attachments_attributes_#{fileNumber}_file").val('')

  addFileLink.on 'click', (e) ->
    e.preventDefault()
    fileInputs = $('.attachments').find("input[type='file']")
    if fileInputs.length
      lastInd = fileInputs.last().data('attachment_number') + 1
    $('.attachments').append(attachmentField(lastInd))

  adminPostsLink.on 'click', (e) ->
    e.preventDefault()
    $.get({
      url: adminPostsLink.attr('href')
      success: (data, textStatus) ->
#        debugger
        $('#resources_table').append(JST['admin/foo']({data: data}))
      error: (e, xhr, status, error) ->
        debugger
    })
